# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="postgresql://thiettruong1999:jkWTpPY3K5Oo@ep-round-forest-a1hatmub-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://thiettruong1999:jkWTpPY3K5Oo@ep-round-forest-a1hatmub.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
AUTH_SECRET="33adb8ae742b3c8db8075d52a618670528e7143ae86ce48015f8224ff8ca2def"

GITHUB_CLIENT_ID="effb0d01d223f81aa0d0"
GITHUB_CLIENT_SECRET="f5771c7bcd1e55c03b0cac4d5231905ad0c07f2a"

GOOGLE_CLIENT_ID="423621766279-k0rs84s10n3p9q5vidn128uqhsgojkmr.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

RESEND_API_KEY="re_ESsy3Cmx_GVzMte3V9yta1xPKjs5q63HB"